
/* ------Navbar---- */

.nav-logo{
    width: 150px;
  }
  .ReactFlagsSelect-module_selectBtn__19wW7{
    border: none !important;
  }
  .ReactFlagsSelect-module_selectOptions__3LNBJ {
    background-color: #fff9eb !important;
      border: none !important;
  }
  