/* footer Section Styling */
.footer-container {
  background-color: var(--text-black);
  border-radius: 50px;
  position: relative;
  z-index: 0;
}

/* footer Image */
.footer-img {
  max-width: 100%;
  height: auto;
}

/* footer Title */
.footer-title {
  font-weight: bold;
  color: var(--text-white);
  font-size: 40px;
}
.row-style-footer {
  padding: 60px;
}
.row-style-foo {
  padding: 40px 60px;
}
/* Hero Text */
.footer-text {
  color: var(--text-white);
  font-size: 16px;
}
.footer-highlight {
  color: var(--text-white);
  text-decoration: underline;
  display: flex;
  justify-content: end;
}
/* CTA Button */
.footer-btn {
  background-color: var(--text-white);
  color: var(--text-black);
  font-weight: bold;
  padding: 15px 28px;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 16px;
  width: 100%;
  max-width: 250px;
}

/* Arrow Animation */
.footer-arrow {
  transition: transform 0.4s ease-in-out;
}

.footer-btn:hover .footer-arrow {
  transform: rotate(90deg);
}
.footer-btn::after {
  content: "";
  top: 5px !important;
  position: absolute;
  left: 5px !important;
  width: 100%;
  height: 100%;
  background-color: var(--bg-yellow);
  border-radius: 30px;
  z-index: -1;
  opacity: 0;
  transition: 0.3s ease-in-out;
}
.footer-btn:hover::after {
  opacity: 1;
}
/* Responsive: Mobile View (Image on Top) */
@media (max-width: 768px) {
  .footer-container {
    text-align: center;
  }
  .row-style-footer{
    padding: 45px 10px 30px 10px;
  }
  .row-style-foo {
    padding: 28px 10px;
  }
  .footer-btn {
    font-weight: lighter;
    max-width: 300px;
    padding: 15px 25px;
  }
  .footer-title {
    font-size: 30px;
  }
  .footer-highlight,
  .footer-text {
    text-decoration: none;
    font-size: 14px;
    font-weight: 600;
    justify-content: center;
  }
  .footer-btn {
    background-color: var(--bg-yellow);
  }
  .footer-btn::after {
    background-color: var(--text-white);
  }
}
