/* test Section Styling */
.test-container {
  background-color: var(--text-white);
  border-radius: 50px;
  position: relative;
  z-index: 0;
}

.test-container:hover {
  background-image: url("/src/assets/test.jfif");
  background-size: cover;
  background-position: 0;
}
/* Circular Image */
.test-img-wrapper {
  position: relative;
  border-radius: 50%;
  overflow: hidden;
}

.test-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.5s ease-in-out;
}

/* test Title */
.test-title {
  font-weight: bold;
  font-size: 30px;
}
.row-style-test {
  padding: 40px 100px;
}
.row-style-test:hover {
  background-color: #00000080;
  color: var(--text-white);
  border-radius: 50px;
}

/* Highlighted Text */
.test-highlight {
  font-size: 18px;
}

/* test Text */
.test-text {
  font-size: 16px;
}

.active-arrow {
  color: var(--bg-yellow);
}
.foo-display {
  display: flex;
  justify-content: end;
}
/* Responsive: Mobile View (Image on Top) */
@media (max-width: 768px) {
  .test-container {
    text-align: center;
  }
  .row-style-test {
    padding: 28px 0px;
  }
  .test-img-wrapper {
    width: 100%;
    height: 100%;
    margin-bottom: 30px;
  }
  .foo-display {
    justify-content: center;
  }
  .test-title {
    font-size: 28px;
  }
  .arrow-center {
    justify-content: center;
  }
}
